html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: white;
    margin-top:5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;

    border: 2px solid black;
}

.titulo {
    background-color: #C4C4C4;
    padding: 20px;
}

.titulo h1 {
    font-size: 16pt;
    font-weight: 200;
}

/* Mensagens */

.mensagens {
    height: 400px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.mensagem {
    position: relative;
    margin: 10px;
    margin-bottom: 30px;
}

.mensagem p {
    position: relative;
    border: 1px solid black;
    padding:10px;
    margin-bottom: 0px;
    width: 96%;
}

.mensagem .botao-msg {
    border-radius: 0px;
    border-color: transparent;
    border-style: solid;
}

.mensagem .Editar {
    background-color: #F6A75D;
}

.mensagem .Deletar {
    background-color: #F65D5D;
}

.mensagem .Enviar {
    background-color: #82e974;
}

/* Envio de mensagem */

.envio {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #C4C4C4;
    height: 200px;
    padding:10px;
}

.envio form {
    display: flex;
    width: 100%;
    height: 100%;
}

.envio .texto {
    font-size: 18px;
    resize: none;
    position: relative;
    width:80%;
}

.envio .botao-enviar {
    margin-left: 2%;
    margin-right: 2%;

    font-size: 1.5em;
    background-color: #0066CC;
    color:white;

    height: 25%;
    width:20%;

    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
}

.botao-enviar:hover {
    background-color: #0074e9;
}